#audio-vow add
CONFIG_MTK_VOW_SUPPORT=m
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y
CONFIG_MTK_VOW_DUAL_MIC_SUPPORT=y
CONFIG_MTK_VOW_MAX_PDK_NUMBER=1
CONFIG_MTK_VOW_AMAZON_SUPPORT=n
CONFIG_MTK_VOW_GVA_SUPPORT=n
CONFIG_MTK_VOW_PCMCALLBACK_SUPPORT=n
CONFIG_MTK_VOW_DSP_VERSION="ver02"
#end audio-vow
CONFIG_XLOGCHAR=m