CONFIG_SC8541X_CHARGER=m
CONFIG_NU2115_CHARGER=m
CONFIG_SND_SOC_DSPK_LOL_HP=y
CONFIG_I2C_CHARDEV=y
CONFIG_MI_DISP=y
CONFIG_MI_DISP_LHBM=y
CONFIG_MI_DISP_LOG=y
CONFIG_DRM_DSI_PANEL_O17_38_0C_0A_FHDP_VDO=m
CONFIG_DRM_DSI_PANEL_O17_NULL_FHDP_VDO=m
CONFIG_SND_SOC_SIPA_81XX=m
CONFIG_SND_SOC_SIPA_TUNING=m
CONFIG_LCT_AUDIO_INFO=m
CONFIG_MTK_TINYSYS_SCP_DEBUG_SUPPORT=y
CONFIG_SIMTRAY_STATUS=m
CONFIG_MTK_LAST_KMSG=y
CONFIG_LC_CHARGER_SYSFS=m
CONFIG_SND_SOC_FS1XXX=m
CONFIG_CPUMAXFREQ_SUPPORT=m
CONFIG_SPI_SPIDEV_CUSTOM=m
CONFIG_BATT_VERIFY=m
CONFIG_ONEWIRE_GPIO=m
CONFIG_BATT_VERIFY_BY_DS28E30=m
CONFIG_BATT_VERIFY_BY_SLG=m
CONFIG_BATT_VERIFY_BY_ST=m
CONFIG_MIUI_ZRAM_MEMORY_TRACKING=y
CONFIG_ZRAM_WRITEBACK=y
#audio-vow add
CONFIG_MTK_VOW_SUPPORT=m
CONFIG_MTK_VOW_BARGE_IN_SUPPORT=y
CONFIG_MTK_VOW_DUAL_MIC_SUPPORT=y
CONFIG_MTK_VOW_MAX_PDK_NUMBER=1
CONFIG_MTK_VOW_AMAZON_SUPPORT=n
CONFIG_MTK_VOW_GVA_SUPPORT=n
CONFIG_MTK_VOW_PCMCALLBACK_SUPPORT=n
CONFIG_MTK_VOW_DSP_VERSION="ver02"
#end audio-vow
CONFIG_NFC=y​
CONFIG_NXP_NFC_I2C=m​
CONFIG_MTK_CLKBUF_NFC=y​
CONFIG_TMS_NFC_DEVICE=y​
#CONFIG_TMS_ESE_DEVICE=y​
CONFIG_TMS_GUIDE_DEVICE=y
CONFIG_SCSI_UFS_XIAOMI_FFU=y
CONFIG_WIFI_ANT_CHECK_SUPPORT=m

CONFIG_XLOGCHAR=m

CONFIG_BINDER_PRIO=m
